body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  text-align: center;
}

h1 {
  font-weight: 100;
  margin-top: 50px;
}

h2 {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 40px;
}

.page-header {
  margin-top: 50px;
}

.container-fluid {
	padding-right: 30px;
	padding-left: 30px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}

.section-image:hover {
  min-width: 102%;
}

.regional-buffer {
  min-width: 300px;
  text-align: left;
  font-weight: bold;
  position: absolute;
  padding-top: 60px;
}

.regional-buffer-short {
  min-width: 300px;
  text-align: left;
  font-weight: bold;
  position: absolute;
  padding-top: 20px;
}

.browser text {
  text-anchor: end;
}

.area {
  opacity: 0.7;
  clip-path: url(#clip);
}
.area:hover {
  opacity: 1;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.temp-offset {
  margin-top: 3em;
}

.leaflet-popup-pane, .leaflet-control {
  display: none;
}

.orange-text {
  color: orange;
  font-weight: bold;;
}

.purple-text {
  color: purple;
  font-weight: bold;;
}

.teal-text {
  color: rgb(9, 241, 249);
  font-weight: bold;;
}

.yellow-text {
  color: yellow;
  font-weight: bold;;
}

.green-text {
  color: rgb(114, 235, 18);
  font-weight: bold;;
}

.red-text {
  color: red;
  font-weight: bold;;
}


#hero-map {
  width:auto;
  height: 350px;
  background: black;
}

.vis {
  margin-top: 50px;
}

.navbar-brand {
  margin: 0 20px;
}

.section-para {
  text-align: left;
}

.section-image {
  padding: 50px 0;
}

#choropleth-map svg,
#choropleth-legend svg,
#time-slider svg,
#parallel-coords svg,
#regional-bars svg,
#regional-map svg {
  font: 10px sans-serif;
}

#parallel-coords .background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

#parallel-coords .foreground path {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;
}

#parallel-coords .foreground path.west {
  stroke: rgb(177, 48, 255);
}

#parallel-coords .foreground path.southwest {
  stroke: yellow;
}

#parallel-coords .foreground path.midwest {
  stroke: rgb(89, 231, 250);
}

#parallel-coords .foreground path.southeast {
  stroke: rgb(26, 244, 41);
}

#parallel-coords .foreground path.northeast {
  stroke: rgb(250, 60, 60);
}

.region-west {
  fill: rgb(177, 48, 255);
}

.region-southwest {
  fill: yellow;
}

.region-midwest {
  fill: rgb(89, 231, 250);
}

.region-southeast {
  fill: rgb(26, 244, 41);
}

.region-northeast {
 fill: rgb(250, 60, 60);
}

.grey-state {
  fill: rgb(177, 177, 177);
  stroke: rgb(139, 139, 139);
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

#coords-table-state {
  margin-bottom: 10px;
  text-align: left;
  min-width: 300px;
}

/* Choropleth Map Styles*/
#choropleth-map .state,
#regional-map .state {
  stroke: rgb(0, 0, 0);
  stroke-linejoin: round;
}

/* Old Colors */
/*#choropleth-map .q0-9, #choropleth-legend .q0-9 { fill:rgb(247,251,255); }
#choropleth-map .q1-9, #choropleth-legend .q1-9 { fill:rgb(222,235,247); }
#choropleth-map .q2-9, #choropleth-legend .q2-9 { fill:rgb(198,219,239); }
#choropleth-map .q3-9, #choropleth-legend .q3-9 { fill:rgb(158,202,225); }
#choropleth-map .q4-9, #choropleth-legend .q4-9 { fill:rgb(107,174,214); }
#choropleth-map .q5-9, #choropleth-legend .q5-9 { fill:rgb(66,146,198); }
#choropleth-map .q6-9, #choropleth-legend .q6-9 { fill:rgb(33,113,181); }
#choropleth-map .q7-9, #choropleth-legend .q7-9 { fill:rgb(8,81,156); }
#choropleth-map .q8-9, #choropleth-legend .q8-9 { fill:rgb(8,48,107); }*/

#choropleth-map .q0-9, #choropleth-legend .q0-9 { fill:rgb(255,255,204); }
#choropleth-map .q1-9, #choropleth-legend .q1-9 { fill:rgb(255,237,160); }
#choropleth-map .q2-9, #choropleth-legend .q2-9 { fill:rgb(254,217,118); }
#choropleth-map .q3-9, #choropleth-legend .q3-9 { fill:rgb(254,178,76); }
#choropleth-map .q4-9, #choropleth-legend .q4-9 { fill:rgb(253,141,60); }
#choropleth-map .q5-9, #choropleth-legend .q5-9 { fill:rgb(252,78,42); }
#choropleth-map .q6-9, #choropleth-legend .q6-9 { fill:rgb(227,26,28); }
#choropleth-map .q7-9, #choropleth-legend .q7-9 { fill:rgb(189,0,38); }
#choropleth-map .q8-9, #choropleth-legend .q8-9 { fill:rgb(128,0,38); }

#map-table-state {
  font-weight: bold;
}

.legendTitle {
  font-size: 1.5em;
  font-weight: bold;
}

.label {
  font-size: 1em;
}


th {
  font-size: 0.75em;
}



/* Max CSS */
/****** TYPOGRAPHY ******/

p, a, li, span, button, h1, h2, h3, h4, h5, h6, label {
    font-family: 'PT Serif', Garamond, Georgia, 'Times New Roman', serif;
}

.callout {
    font-weight: 700;
    font-size: 1.25em;

}


/****** [/TYPOGRAPHY] ****/
#projected-capacity, #caiso {
    margin-right: 0;
    float: left;
}

#projected-capacity-controls, #caiso-controls {
    float: right;
}

#caiso-controls ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

#caiso-controls ul li {
    margin-left: 0;
    padding-left: 0;
}

#caiso-controls h4 {
    margin-bottom: 15px;
}

#caiso-controls form {
    margin-top: 5px;
}

/* Overrides default Bootstrap color scheme */
.btn-primary {
    background-color: rgb(227, 26, 28);
    border: none;
}

/* Overrides default Bootstrap display: inline-block */
#projected-capacity-controls .form-group {
    display: block;
}

#projected-capacity-description p:first-child {
    margin-top: 25px;
}

#projected-capacity-legend {
    margin-top: 20px;
}

/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

.tooltip-title {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}


