body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  text-align: center;
}

h1 {
  font-weight: 100;
  margin-top: 50px;
}

h2 {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 40px;
}

.page-header {
  margin-top: 50px;
}

.container-fluid {
	padding-right: 30px;
	padding-left: 30px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.section-image:hover {
  min-width: 102%;
}

.regional-buffer {
  min-width: 300px;
  text-align: left;
  font-weight: bold;
  position: absolute;
  padding-top: 60px;
}

.regional-buffer-short {
  min-width: 300px;
  text-align: left;
  font-weight: bold;
  position: absolute;
  padding-top: 20px;
}

.browser text {
  text-anchor: end;
}

.area {
  opacity: 0.7;
  clip-path: url(#clip);
}
.area:hover {
  opacity: 1;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.temp-offset {
  margin-top: 3em;
}

.leaflet-popup-pane, .leaflet-control {
  display: none;
}

.orange-text {
  color: orange;
  font-weight: bold;;
}

.purple-text {
  color: purple;
  font-weight: bold;;
}

.teal-text {
  color: rgb(9, 241, 249);
  font-weight: bold;;
}

.yellow-text {
  color: yellow;
  font-weight: bold;;
}

.green-text {
  color: rgb(114, 235, 18);
  font-weight: bold;;
}

.red-text {
  color: red;
  font-weight: bold;;
}


#hero-map {
  width:auto;
  height: 350px;
  background: black;
}

.vis {
  margin-top: 50px;
}

.navbar-brand {
  margin: 0 20px;
}

.section-para {
  text-align: left;
}

.section-image {
  padding: 50px 0;
}

svg {
  font: 10px sans-serif;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;
}

.foreground path.west {
  stroke: rgb(177, 48, 255);
}

.foreground path.southwest {
  stroke: yellow;
}

.foreground path.midwest {
  stroke: rgb(89, 231, 250);
}

.foreground path.southeast {
  stroke: rgb(26, 244, 41);
}

.foreground path.northeast {
  stroke: rgb(250, 60, 60);
}

.region-west {
  fill: rgb(177, 48, 255);
}

.region-southwest {
  fill: yellow;
}

.region-midwest {
  fill: rgb(89, 231, 250);
}

.region-southeast {
  fill: rgb(26, 244, 41);
}

.region-northeast {
 fill: rgb(250, 60, 60);
}

.grey-state {
  fill: rgb(177, 177, 177);
  stroke: rgb(139, 139, 139);
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

#coords-table-state {
  margin-bottom: 10px;
  text-align: left;
  min-width: 300px;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}

/* Choropleth Map Styles*/
.state {
  stroke: rgb(0, 0, 0);
  stroke-linejoin: round;
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }

#map-table-state {
  font-weight: bold;
}

.legendTitle {
  font-size: 1.5em;
  font-weight: bold;
}

.label {
  font-size: 1em;
}

/* Max CSS */
.line {
    fill: none;
    stroke: #1C9A3D;
    stroke-width: 1.5px;
    opacity: 0.05;
}

#projected-capacity, #caiso {
    margin-right: 0;
    float: left;
}

#projected-capacity-controls, #caiso-controls {
    float: right;
}

/* Overrides default Bootstrap display: inline-block */
#projected-capacity-controls .form-group {
    display: block;
}

th {
  font-size: 0.75em;
}
